
body{
    margin: 30px 20% 30px 20%;

}


.header{
    height: 300px;
    background-image: url("images/seattle.webp");
    background-size: cover;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seattle-title{
    color:midnightblue;
    background-color:beige;
    padding: 10px;
}

#seattle-intro{
    color:midnightblue;
    background-color: beige;
    margin: 0 30% 0 30%;
    text-align: center;
    padding: 5px;
}

#space-needle{
    height: 65px;
}

#head{
    text-align: center;
}

#center{
    background-color: beige;
    padding: 5px;
}

.tasks-image{
    width: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

}

#all-items{
    display: flex;
    justify-content: space-between;

}

.task-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.task-title:hover{
    color: red ;
}

.task-desc{
    text-align: center;
}

.item{
    margin: 10px;
}

#rithwik{
    width: 150px;
    margin-right: 20px;
}

#business-card{
    display: flex;
    justify-content: space-between;
    margin: 40px 15% 30px 15%;
    background-color:lightblue;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 4px solid blue;
}

#business-card-title{
    text-align: center;
}

#business-card-desc{
    text-align: center;
}

h4{
    text-align: center;
}